<h1>Settings - <%= @project.name %></h1>
<h3>GitHub</h3>
<input type="checkbox">Show comments on GitHub</input>
<h3>Tests</h3>
<input type="checkbox">JSLint</input>
<input type="checkbox">RuboCop</input>
