<% if user_signed_in? %>
  <table class="table table-striped">
    <% @repos.each do |r| %>
      <tr>
        <td>
          <h4><a href="#"><%= r.name %></a></h4>
          <a href="<%= r.svn_url %>">GitHub</a></h4>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
