
<div class="jumbotron" style="margin-top: 20px;">
    <div class="container">
        <h1 class="text-center">Simplify your code.</h1>
        <h2 class="text-center">Find bugs before they bite.</h2>
        <div class="row text-center" style="margin-top: 50px;">
            <div class="col-md-12">
                <a class="btn btn-success btn-lg" href="/users/auth/github">Get Started Now</a>
            </div>
        </div>
    </div> <!-- /container -->
</div><!-- /jumbotron -->

<div class="row headline">
    <div class="col-md-6 right-border">
        <%= image_tag 'reports.png' , width: '100%', class: 'feature'%>
    </div>

    <div class="col-md-6">
        <h1>Focus on Quality.</h1>
        <h4>
            Poorly written code causes bugs. Bugs waste money and time.
        </h4>
        <h4>
             Track and analyze code quality with Spearmint to save both.
        </h4>
    </div>
</div>

<div class="row headline">
    <div class="col-md-6 right-border">
        <h1 class="text-right">Continuous Iteration.</h1>
        <h4>
            Test every change that you make to deploy code with confidence.
        </h4>
        <h4>
            Tighten developer feedback loops to improve productivity and build the product your customers need.
        </h4>
    </div>
    <div class="col-md-6">
        <%= image_tag 'tests.png' , width: '100%', class: 'feature' %>
    </div>
</div>

<div class="row headline">
    <div class="col-md-6 right-border">
        <%= image_tag 'integration.png' , width: '100%', class: 'feature'%>
    </div>

    <div class="col-md-6">
        <h1>GitHub Integration.</h1>
        <h4>
            We integrate with GitHub to bring continuous integration to you. Setup is fast and easy.
        </h4>
    </div>
</div>


<div class="row text-center jumbotron" style="margin-top: 100px;">
    <div class="col-md-12">
        <a class="btn btn-success btn-lg" href="/users/auth/github">Get Started Now</a>
    </div>
</div>
