// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.watched > h4 {
  font-weight: bold;
}

.watch-row {
  text-align: right
}

.watch-btn {
  width: 120px;
}

.headline {
  margin-top: 200px;
}

img.feature {
  padding: 10px;
}

.right-border {
  border-right: 1px solid #ccc;
}