// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.run-btn {
    position: absolute;
    //display: block;
    right: 0px;
    top: 0px;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-right: 10px;
}
